@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.social-bg-container {
  background-image:
    url('/social-fanzone-deadpool.png'),
    url('/social-fanzone-wolverine.png'),
    linear-gradient(to right, #A907181A, #BAA2021A),
    linear-gradient(#000000BF, #000000BF),
    url('/social-fanzone-bg-1.png');
  background-position:
    top 196px left -30px,
    bottom -200px right -328px,
    center,
    center,
    center;
  background-size:
    420px,
    700px,
    cover,
    cover,
    cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .social-bg-container {
    background-position:
      top 376px left -16px,
      top 692px right -240px,
      center,
      center,
      center;
    background-size:
      388px 536px,
      640px 628px,
      cover,
      cover,
      cover;
  }
}


@media (min-width: 1024px) {
  .social-bg-container {
    background-position:
      top 196px left clamp(-36px, 13vw, 252px),
      top 164px right clamp(-300px, -1vw, -20px),
      center,
      center,
      center;
    background-size:
      480px 740px,
      780px 820px,
      cover,
      cover,
      cover;
  }
}

body {
  font-family: 'Bebas Neue', sans-serif;
}